body {
  height: 100%;
  background-color: #F8F9FA;
  overflow-x: hidden;
  font-family: "Arial Regular", Helvetica, sans-serif;
}

.App {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.heading {
  display: flex; /* Enable flexbox layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 60px;
  background-color: #FFFFFF;
  font-size: 23pt;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
}

.dropdown-container {
  position: relative;
  width: 350px;
  text-align: center;
  box-sizing: border-box;
  margin: auto;
  margin-top: 10px;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.dropdown-header:hover {
  background-color: #f7f7f7;
}

.dropdown-list {
  position: relative;
  top: 100%;
  width: inherit;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #FFFFFF;;
  z-index: 1;
  box-sizing: border-box;
  max-width: 100%;
  border-radius: 10px;
  background-color: #F8F9FA;
}

.dropdown-option {
  padding: 8px 0;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  border-radius: 10px;
}

.dropdown-image {
  max-width: 15px;
  max-height: 15px;
}

.dropdown-option:hover {
  background-color: rgb(63, 63, 211);
}

.location-container {
  margin: auto;
  width: 350px;
}

.currentweather-container {
  position: relative;
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 800px;
  min-width: 100px;
  min-height: 200px;
  margin: 10px auto;
}

.forecasts-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 200px;
  margin: auto;
}

.forecasts-container div:first-child {
  margin-left: 0;
}

.forecasts-container div:last-child {
  margin-right: 0;
}

.forecast-container {
  position: relative;
  display: flex;
  margin: 0 5px;
  margin-bottom: 10px;
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 10px;
  align-items: stretch;
  overflow: hidden;
}

.upper-white {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 65%;
}

.lower-blue {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #ccc;
  bottom: 0;
  width: 100%;
  height: 35%;
  background-color:#E5F6FD;
  font-size: 10pt;
  color: #70757A;
}

.city-name {
  font-size: 19pt;
  color: #262626;
}

.small-grey {
  font-size: 13pt;
  color: #70757A;
}

.forecast-temp {
  font-size: 15pt;
  color: #262626;
}

.date {
  font-size: 15pt;
  color: #262626;
}

.temperature {
  font-size: 26pt;
  color: #262626;
}

.top-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}

.top-right {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

.bottom-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
}

.bottom-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
}
